aside(id="sideBar")
  div(id="newsItem",class="side_block")
    h1(class="catListTitle") 公告
    div(class="blogNews catListBox")
      ul(class="newsList")
        li(class="newsItem")
          |昵称：
          <a href=''>xinyixue666</a>
        li(class="newsItem")
          |园龄：
          <a href=''>1年</a>
        li(class="newsItem")
          |粉丝：
          <a href=''>0</a>
        li(class="newsItem")
          |关注：
          <a href=''>0</a>
  div(id="blogCalendar",class="side_block")
  
  div(id="sidebar_search",class="side_block")
    h1(class="catListTitle") 搜索
    div(class="search_box catListBox")
      div(id="widget_my_zzk")
        input(type="text", id="searchText")
        input(type="button",id="searchBtn", value="找找看")
  div(id="sidebar_shortcut",class="side_block")
    h1(class="catListTitle") 常用链接
    div(class="shortCutBox catListBox")
      ul(class="shortcutlistbox")
        li(class="shortcutlist")
          a(href="") 我的随笔
        li(class="shortcutlist")
          a(href="") 我的评论
        li(class="shortcutlist")
          a(href="") 我的参与
        li(class="shortcutlist")
          a(href="") 最新评论
        li(class="shortcutlist")
          a(href="") 我的标签
  div(id="sidebar_toptags",class="side_block")
    h1(class="catListTitle") 我的标签
    div(class="topTagBox catListBox")
      ul
        - var tagsList = [{name: 'ASP.NET', count: 12},{name: 'Oracle',count: 8},{name: 'SQL server',count: 6},{name: 'Android Studio',count: 6},{name: '总结',count: 8},{name: 'VB',count: 10},{name: 'GitHub',count: 20},{name: 'Others',count: 1},{name: '截取字符',count: 2},{name: '列转行',count: 3}]
        each value,key in tagsList
          li
            a(href="/xinyixue666/postList") #{value.name}(#{value.count})
        li
          a(href="/xinyixue666/tagList") 更多
  div(id="sidebar_categories",class="side_block")
    h1(class="catListTitle") 随笔档案
    div(class="categoriesBox catListBox")
      ul
      - var catList = [{name: '2018年9月', count: 8},{name: '2018年8月', count: 2},{name: '2018年5月', count: 1},{name: '2017年10月', count: 2},{name: '2017年9月', count: 1},{name: '2017年7月', count: 1},{name: '2017年7月', count: 1},{name: '2017年6月', count: 5},{name: '2017年3月', count: 1},{name: '2016年12月', count: 10},{name: '2016年11月', count: 3},{name: '2016年9月', count: 1},{name: '2016年7月', count: 1},{name: '2016年6月', count: 1},{name: '2016年5月', count: 6},{name: '2016年1月', count: 1},{name: '2015年12月', count: 3},{name: '2015年11月', count: 1},{name: '2015年10月', count: 3},{name: '2015年9月', count: 1},{name: '2015年8月', count: 4},{name: '2015年7月', count: 1}]
      each value,key in catList
        li
          a(href="/xinyixue666/entryList")  #{value.name}(#{value.count}) 
  div(id="sidebar_recentcomments", class="side_block", style="display: none;")
    h1(class="catListTitle") 最新评论
    div(class=" catListBox")

  div(id="sidebar_topviewedposts",class="side_block")
    h1(class="catListTitle") 阅读排行榜
    div(class=" catListBox")
      ul
        -var topViewList = [{name: 'vue处理循环列表动态数据问题', count: 50},{name: 'vue-scroller实现vue单页面的上拉加载和下拉刷新问题', count: 42},{name: 'ios手机处理keyup事件时的兼容性问题', count: 33},{name: '关于UC浏览器兼容scroll事件问题', count: 18},{name: '人生三境界：看远、看透、看淡', count: 18}]
        each item,index in topViewList
          li
            a(href="/xinyixue666/article") #{index+1}. #{item.name} (#{item.count})
  div(id="sidebar_topcommentedposts",class="side_block", style="display: none;")
    h1(class="catListTitle") 评论排行榜
    div(class=" catListBox")

  div(id="sidebar_topdiggedposts",class="side_block")
    h1(class="catListTitle") 推荐排行榜
    div(class=" catListBox")
      ul
        li
          a(href="") 1. vue处理循环列表动态数据问题(50)
        li
          a(href="") 2. vue-scroller实现vue单页面的上拉加载和下拉刷新问题(43)
        li
          a(href="") 3. ios手机处理keyup事件时的兼容性问题(33)
